body {
  background-color: white;
  margin: 0;
}

h1{
  font-weight: bold;
  margin: 0;
}

h2{
  text-align: center;
}

p{
  font-size: 14px;
  font-weight: 100;
  line-height: 2;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

input {
  margin: 10px auto;
}

a {
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}
a {
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}

.head {
  background-color: #B4E197;
  height: 50px;
  padding-top: 25px;
  position: relative;

}

.middle-container{
  background: #f6f5f7;
  padding-top: 100px;

  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  height: 375px;

}
.bottom-container {
  background-color: #66BFBF;
  margin: 0;
  height: 85px;
  padding: 50px 0 50px;
  line-height: 1;
  text-align: center;
}

.footer-link{
  padding-right: 10px;
}

.copyright
{
  color:#EAF6F6;
  font-size: 0.75rem;

}
