
body {
  color: #005555;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;


}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color:#11999E;
  font-family: 'Montserrat', sans-serif;


}

a {
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}
hr{

  border-style: none;
  border-top:  dotted #EAF6F6 6px ;
  width: 5%;

}

p {
  line-height: 2;
}

.top_container {
  background-color: #FFB396;
  position: relative;
  padding-top: 100px;
  height: 550px;
}

.middle-container {
  margin: 100px auto;
}

.bottom-container {
  background-color: #66BFBF;
  margin: 20px 0 0 0;
  height: 50px;
  padding: 50px 0 20px;
  line-height: 1;
}

.copyright
{
  color:#EAF6F6;
  font-size: 0.75rem;

}

.contact-me {
  padding-bottom: 20px;
  line-height: 2;
}



.profile{
  margin-bottom: 30px;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn_login {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2bb88e);
  background-image: -moz-linear-gradient(top, #3498db, #2bb88e);
  background-image: -ms-linear-gradient(top, #3498db, #2bb88e);
  background-image: -o-linear-gradient(top, #3498db, #2bb88e);
  background-image: linear-gradient(to bottom, #3498db, #2bb88e);
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  text-shadow: 1px 1px 0px #666666;
  font-family: Courier New;
  color: #0f0f0f;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  
  left: 575px;
  border: solid #13496b 2px;
  text-decoration: none;
}

.btn_login:hover {
  background: #3cfac4;
  text-decoration: none;
}

.btn_signup {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2bb88e);
  background-image: -moz-linear-gradient(top, #3498db, #2bb88e);
  background-image: -ms-linear-gradient(top, #3498db, #2bb88e);
  background-image: -o-linear-gradient(top, #3498db, #2bb88e);
  background-image: linear-gradient(to bottom, #3498db, #2bb88e);
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  text-shadow: 1px 1px 0px #666666;
  font-family: Courier New;
  color: #0f0f0f;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  
  left: 550px;
  border: solid #13496b 2px;
  text-decoration: none;
}

.btn_signup:hover {
  background: #3cfac4;
  text-decoration: none;
}


.head {
  background-color: #B4E197;
  height: 50px;
  padding-top: 25px;
  position: relative;



}

.header_name {
  display: inline;
}
